In [1]:
import os
import pandas as pd

In [2]:
TRAIN_PATH = '../dataset/train.tsv'

In [3]:
df = pd.read_csv(TRAIN_PATH, sep = '\t')

In [17]:
df.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [13]:
X = df.Phrase.values

In [14]:
Y = df.Sentiment.values

In [15]:
X

array(['A series of escapades demonstrating the adage that what is good for the goose is also good for the gander , some of which occasionally amuses but none of which amounts to much of a story .',
       'A series of escapades demonstrating the adage that what is good for the goose',
       'A series', ..., 'avuncular chortles', 'avuncular', 'chortles'],
      dtype=object)

In [16]:
Y

array([1, 2, 2, ..., 3, 2, 2], dtype=int64)